.btn {
    border: none;
    border-radius: rem(4px);
    &-primary {
        background: $highlight;
        color: white;
        padding: rem(10px 25px);
        transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        &:hover {
            background: darken($highlight, 5%);
            box-shadow: rem(5px 5px 3px 0px) rgba(black, 0.4)
        }
    }
    &-secondary {
        background: $light;
        color: $background;
        transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding: rem(5px 10px);
        &:hover {
            background: darken($light, 5%);
            box-shadow: rem(5px 5px 3px 0px) rgba(black, 0.4)
        }
    }
}